.Toolbar{
    height : 56px;
    width : 100%;
    position : fixed;
    left : 0;
    top : 0;
    justify-content: space-between;
    background-color: #703B09 ;
    display: flex;
    align-items: center;
    padding : 0;
    box-sizing: border-box;
    z-index : 90;
}

.Toolbar nav{
    height :  100%;
}

.Logo{
    height : 80%;
}

.ToggleMenuButton{
    height : 100%;
    top : 10;
    left : 10;
    z-index: 95;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}

@media (min-width: 500px){
    .ToggleMenuButton{
        display: none;
    }
}